[Desktop Entry]
Name=DOSBox Emulator
Comment=Run old DOS applications
GenericName=DOS Emulator
TryExec=dosbox-staging
Exec=env SDL_VIDEODRIVER=wayland $HOME/bin/dosbox
Icon=dosbox
Type=Application
StartupNotify=true
StartupWMClass=dosbox-staging
Terminal=false
Categories=Game;Emulator;
