[Desktop Entry]
Name=MPV Media Player
Comment=Modern Multimedia Player
GenericName=Multimedia player
TryExec=mpv
Exec=mpv --player-operation-mode=pseudo-gui -- %U
Icon=mpv
Type=Application
StartupNotify=true
StartupWMClass=mpv
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
NotShowIn=GNOME
