[Desktop Entry]
Name=Ranger
Comment=Terminal-based file manager
GenericName=File manager
Exec=ranger
Icon=utilities-terminal
Type=Application
Terminal=true
Categories=ConsoleOnly;System;FileTools;FileManager
NotShowIn=GNOME
